version: '3.8'

services:
  keycloak_db:
    image: postgres:14
    environment:
      POSTGRES_DB: keycloak_db
      POSTGRES_USER: keycloak_user
      POSTGRES_PASSWORD: keycloak_password
    volumes:
      - ./postgres-keycloak-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
  keycloak:
    image: quay.io/keycloak/keycloak:21.1
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak_db:5432/keycloak_db
      KC_DB_USERNAME: keycloak_user
      KC_DB_PASSWORD: keycloak_password
    command: 
      - start-dev
      - --import-realm
    volumes:
      - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json
    ports:
      - "8080:8080"
    depends_on:
      - keycloak_db
  bionicpro-auth:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      KEYCLOAK_URL: http://keycloak:8080    
      KEYCLOAK_PUBLIC_URL: http://localhost:8080 
      KEYCLOAK_REALM: reports-realm
      KEYCLOAK_CLIENT_ID: bionicpro-auth
      KEYCLOAK_CLIENT_SECRET: sNeQ2yaenUhT9FfcFnocbRJ5emDYN6Nk
      FRONTEND_URL: http://localhost:3000
      REDIRECT_URI: http://localhost:8000/auth/callback
      REFRESH_TOKEN_ENC_KEY: "z6YVY9g97uA5pW8GJX9cR5Y1y3v1JwOQO3wC2wVtY8k="
      SESSION_TTL_SECONDS: 28800
    ports:
      - "8000:8000"
    depends_on:
      - keycloak
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      REACT_APP_API_URL: http://localhost:8000

