x-airflow-common: &airflow-common
  build:
    context: .
    dockerfile: Dockerfile
  environment: &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor #локальный запуск
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CORE__FERNET_KEY: ''
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session'
    AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK: 'true'
    AIRFLOW__WEBSERVER__SECRET_KEY: 'your_airflow_webserver_sec_key'
    _PIP_ADDITIONAL_REQUIREMENTS: ''
    AIRFLOW_INPUT_DIR: '/opt/airflow/dag-inputs'
    AIRFLOW_CONN_OLAP_PG: postgresql+psycopg2://olap_user:olap_pass@postgres-olap:5432/olap_db
    AIRFLOW_CONN_CRM_PG: postgresql+psycopg2://crm_user:crm_pass@postgres-crm:5432/crm_db
    AIRFLOW_CONN_TELEM_PG: postgresql+psycopg2://telemetry_user:telemetry_pass@postgres-telemetry:5432/telemetry_db
  volumes:
    - ./dags:/opt/airflow/dags
    - ./dags/sql:/opt/airflow/dags/sql
    - ./requirements.txt:/opt/airflow/requirements.txt
    - ./data:/opt/airflow/sample_files
  user: "${AIRFLOW_UID:-50000}:0"
  depends_on: &airflow-common-depends-on
    postgres:
      condition: service_healthy
  networks:
    - dag_sample

services:
  postgres:
    image: postgres:16.0
    volumes:
      - ./db:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    logging:
      options:
        max-size: 10m
        max-file: "3"
    healthcheck:
      test:
        - CMD
        - pg_isready
        - -U
        - airflow
      interval: 10s
      retries: 5
      start_period: 5s
    restart: always
    networks:
      - dag_sample

  airflow-webserver:
    <<: *airflow-common

    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully
      postgres-crm:
        condition: service_healthy
      postgres-telemetry:
        condition: service_healthy
      postgres-olap:
        condition: service_healthy
    command: webserver
    networks:
      - dag_sample
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8080/health || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 90s

  airflow-scheduler:
    <<: *airflow-common
    networks:
      - dag_sample
    command: scheduler
    depends_on:
      postgres:
        condition: service_healthy
      airflow-webserver:
        condition: service_healthy
      postgres-crm:
        condition: service_healthy
      postgres-telemetry:
        condition: service_healthy
      postgres-olap:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8080/health || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3

  airflow-triggerer:
    <<: *airflow-common
    depends_on:
      postgres:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully
      postgres-crm:
        condition: service_healthy
      postgres-telemetry:
        condition: service_healthy
      postgres-olap:
        condition: service_healthy
    networks:
      - dag_sample
    command: bash -c "airflow triggerer"
    healthcheck:
      test:
        - CMD-SHELL
        - airflow jobs check --job-type TriggererJob --hostname "${HOSTNAME}"
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always

  airflow-cli:
    <<: *airflow-common
    depends_on:
      postgres:
        condition: service_healthy
      postgres-crm:
        condition: service_healthy
      postgres-telemetry:
        condition: service_healthy
      postgres-olap:
        condition: service_healthy
    networks:
      - dag_sample
    profiles:
      - debug
    command:
      - bash
      - -c
      - airflow

  airflow-init:
    <<: *airflow-common
    depends_on:
      postgres:
        condition: service_healthy
      postgres-crm:
        condition: service_healthy
      postgres-telemetry:
        condition: service_healthy
      postgres-olap:
        condition: service_healthy
    command: >
      bash -c " airflow db init && airflow users create \ --username admin \ --firstname admin \ --lastname admin \ --role Admin \ --email admin@sample.ru \ --password admin 
      
      "
    networks:
      - dag_sample

  postgres-crm:
    image: postgres:16.0
    environment:
      POSTGRES_DB: crm_db
      POSTGRES_USER: crm_user
      POSTGRES_PASSWORD: crm_pass
    volumes:
      - ./db/crm-init.sql:/docker-entrypoint-initdb.d/01-crm.sql
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "crm_user", "-d", "crm_db" ]
      interval: 10s
      timeout: 5s
      retries: 5

  postgres-telemetry:
    image: postgres:16.0
    environment:
      POSTGRES_DB: telemetry_db
      POSTGRES_USER: telem_user
      POSTGRES_PASSWORD: telem_pass
    volumes:
      - ./db/telemetry-init.sql:/docker-entrypoint-initdb.d/02-telemetry.sql
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "telem_user", "-d", "telemetry_db" ]
      interval: 10s
      timeout: 5s
      retries: 5

  postgres-olap:
    image: postgres:16.0
    environment:
      POSTGRES_DB: olap_db
      POSTGRES_USER: olap_user
      POSTGRES_PASSWORD: olap_pass
    volumes:
      - ./db/olap-init.sql:/docker-entrypoint-initdb.d/03-olap.sql
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "olap_user", "-d", "olap_db" ]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  dag_sample:
